// app global css in SCSS form
body {
  scrollbar-width: thin;
  scrollbar-color: $primary #ddd;
  background-color: $bg-light;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.q-tab-panels{
  background-color: $bg-light;
}

.q-tab{
  background-color: $tabs-bg-color;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, $primary 0%, $primary 100%);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-header {
  .q-table__top,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: $primary;
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }

  thead tr:first-child th {
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }

  /* prevent scrolling behind sticky top row on focus */
  tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }
}

.note-dialog-card {
  max-width: 600px;
  word-wrap: break-word;
}

.note-content {
  white-space: pre-wrap;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 300px;
  overflow-y: auto;
}
